/* Colors */

:root{
    --header-footer-color: #020f18; 
    --text-color: #ffff;
    --border-color: #838383;
    --border-style: none;

    --form-div-background: rgba(0, 0, 0, 0.1);;
    --form-element-color: rgba(0, 0, 0, 0.3);
    --select-hover-color: black;

    --button-color: rgba(145, 205, 255, 0.3);
    --button-hover-color: rgba(145, 205, 255, 1);
    --button-active-color: rgb(96, 77, 104);
}


/* Body */

html {
    height: auto;
    min-height: 100%;
    overflow: hidden;
 }

body{
    font-family: Clear Sans,Helvetica Neue,Arial,sans-serif;
    background-size: cover;
    background-repeat:no-repeat;
    background-image: url(imgs/generic_art.png);
    margin: 0px;
    padding: 0px; 
}

/* Website Header */

.header {
    background-color: var(--header-footer-color);
}

/* Website Footer */

.footer {
    background-color: var(--header-footer-color);
}

/* SPLIT UI */

.searchDiv {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;

    background-color: var(--form-div-background);
    
    border-style: var(--border-style);
    border-radius: 5px;
    border-color: var(--border-color);
}


.searchDivp {
    text-align: center;
    color: var(--text-color);
    font-size: 30px;
    font-weight: 700;

    background-color: var(--form-element-color);
    width: 300px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

    border-width: 2px;
    border-radius: 10px;
    border-style: var(--border-style);
    border-color: var(--border-color);
    margin: 0;
}

.ohjeTxt{
    margin: 0;
    text-align: center;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;

    border-width: 2px;
    border-radius: 10px;
    border-style: var(--border-style);
    border-color: var(--border-color);
}

.flexwrap-justify{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.dayArrows{
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    font-size: xx-large;
    color: var(--text-color);
}

.dayArrows:hover{
    color: var(--button-hover-color);
}

.dayArrows:active{
    color: rgb(91, 91, 253);
}

.searchDiv select {
    font-size: x-large;
    font-weight: 700;
    text-align: center;
    color: var(--text-color);

    background-color: var(--form-element-color);
    position: relative;
    
    width: 200px;
    height: 75px;

    cursor:pointer;

    border-width: 2px;
    border-radius: 10px;
    border-style: var(--border-style);
    border-color: var(--border-color);
    transition: all 0.2s;
}

.searchDiv select:hover {
    background-color: var(--select-hover-color);
}

.searchDiv select option {
    background-color: black;
}

.dayLabel{
    text-align: center;
    color: var(--text-color);
    font-size: 16px;
    font-weight: 700;
}

.resultButton {
    font-weight: 700;
    text-align: center;
    font-size: large;
    color: var(--text-color);

    background-color: var(--button-color);
    width: 200px;
    height: 50px;

    cursor:pointer;

    border-width: 2px;
    border-radius: 50px;
    border-style: var(--border-style);
    border-color: var(--border-color);
    transition: all 0.2s;
}

.resultButton:hover {
    background-color: var(--button-hover-color);
}

.resultButton:active {
    background-color: var(--button-active-color);
    transform: translateY(4px)
}

.resultLabel{
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: var(--text-color);
}

.ruoka-kortti{
    line-height: 0.4;
}