/* Colors */

:root{
    --header-footer-color: #020f18; 
    --text-color: #ffff;
    --border-color: #838383;
    --border-style: none;

    --form-div-background: rgba(0, 0, 0, 0.1);;
    --form-element-color: rgba(0, 0, 0, 0.3);
    --select-hover-color: black;

    --button-color: rgba(145, 205, 255, 0.3);
    --button-hover-color: rgba(145, 205, 255, 1);
    --button-active-color: rgb(96, 77, 104);

    --background-texture: url(none);
}


/* Body */

html {
    height: auto;
    min-height: 100%;
    overflow: hidden;
 }

body{
    font-family: Clear Sans,Helvetica Neue,Arial,sans-serif;
    background-size: cover;
    background-repeat:no-repeat;
    background-image: url(imgs/generic_art.png);
    margin: 0px;
}

/* Website Header */

.header {
    overflow: hidden;
    background-color: var(--header-footer-color);
    padding: 30px;
}

.header img {
    border-radius: 5px;
    vertical-align: middle;
}

.header a {
    text-decoration: none;
    color: var(--text-color);
    vertical-align: middle;
    margin-left: 20px;
    font-size: 45px;
    font-weight: 700;
    text-shadow: 4px 4px 4px black;
}

/* Search Content */

.searchDiv {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    padding-bottom: 220px;

    background-color: var(--form-div-background);
    background-image: var(--background-texture);
    background-repeat: repeat;

    border-style: var(--border-style);
    border-radius: 5px;
    border-color: var(--border-color);
}


.searchDiv p {
    text-align: center;
    color: var(--text-color);
    font-size: 32px;
    font-weight: 700;

    background-color: var(--form-element-color);
    /* background-image: var(--background-texture); */
    width: 300px;
    padding: 20px;
    padding-top: 30px;
    padding-bottom: 30px;

    border-width: 2px;
    border-radius: 10px;
    border-style: var(--border-style);
    border-color: var(--border-color);
}

.searchDiv select {
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    font-size: x-large;
    font-weight: 700;
    text-align: center;
    color: var(--text-color);

    background-color: var(--form-element-color);
    /*background-image: var(--background-texture);*/
    position: relative;
    
    width: 200px;
    height: 75px;

    cursor:pointer;

    border-width: 2px;
    border-radius: 10px;
    border-style: var(--border-style);
    border-color: var(--border-color);
    transition: all 0.2s;
}

.searchDiv select:hover {
    background-color: var(--select-hover-color);
}

.searchDiv button {
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    font-weight: 700;
    text-align: center;
    font-size: large;
    color: var(--text-color);

    background-color: var(--button-color);
    /*background-image: var(--background-texture);*/
    margin-top: 50px;
    margin-bottom: 50px;
    width: 200px;
    height: 50px;

    cursor:pointer;

    border-width: 2px;
    border-radius: 50px;
    border-style: var(--border-style);
    border-color: var(--border-color);
    transition: all 0.2s;
}

.searchDiv button:hover {
    background-color: var(--button-hover-color);
}

.searchDiv button:active {
    background-color: var(--button-active-color);
    transform: translate(-50%, 4px)
}

.searchDiv label{
    position: absolute;
    left: 50%;
    transform: translate(-50%);

    margin-top: 120px;

    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: var(--text-color);
}

/* Website Footer */

.footer {
    overflow: hidden;
    position : absolute;
    bottom : 0;
    height : 40px;
    padding-bottom: 10px;
    background-color: var(--header-footer-color);
    text-decoration: none;
    width: 100%;
    padding-bottom: 30px;
}

.footer li, ul {
    float: left;
    color: var(--text-color);
    text-align: center;
    list-style: none;
    padding: 0px;
}

.icons {
    margin-left: 20px;
}

.icons {
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(44deg) brightness(104%) contrast(101%);
    transition: all 0.2s;
}

.icons:hover{
    filter: invert(100%) sepia(2%) saturate(6355%) hue-rotate(189deg) brightness(118%) contrast(75%);
}

.icons:active{
    filter: invert(74%) sepia(10%) saturate(0%) hue-rotate(221deg) brightness(92%) contrast(101%);
}

/* Info Popup */

.modal {
    align-items: center;
    display: flex;
    justify-content: center; 
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
}
.content {
    position: absolute;
    background: rgba(255, 255, 255, 1);
    width: 400px;
    padding: 2em 2em;
    border-radius: 10px;
}

.content h1{
    color: tomato;
    text-align: center;
    margin: 0px;
}

.content p{
    text-decoration: none;
    text-align: center;
    font-weight: 400;
    font-size: large;
    color: gray;
}

.content b{
    color: rgb(41, 41, 41);
}

.content a{
    text-decoration: none;
    color:cornflowerblue;
}

.content:visited{
    color: inherit;
}

.modal:target {
    visibility: visible;
    opacity: 1;
}
.closeInfo {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 15px;
    text-decoration: none;
    font-size: 30px;
    transition: all 0.2s;
}

.closeInfo:active {
    color: black;
}